[Unit]
Description=Tailscale Serve for Tengu
After=network-online.target kenku-proxy.service tailscaled.service
Requires=kenku-proxy.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 3
ExecStart=/home/deck/.local/bin/tailscale --socket=/home/deck/.tailscale/tailscaled.sock serve --bg https+insecure://127.0.0.1:8788
ExecStop=/home/deck/.local/bin/tailscale --socket=/home/deck/.tailscale/tailscaled.sock serve reset

[Install]
WantedBy=default.target
