[Unit]
Description=Tengu stack
Wants=tailscaled.service kenku-proxy.service tailscale-serve.service
After=network-online.target tailscaled.service kenku-proxy.service tailscale-serve.service

[Install]
WantedBy=default.target
